@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Code', monospace;
}

a {
  color: #7dd3fc;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  color: #e7e8e8;
  background: #0f1318;
}
